*
{
  margin: 0;
  padding: 0;
}
#header
{
  background-color: black;
}
#header >div>h1
{
  color: white;
  padding: 1vh 9vh;
}
.navigation
{
  height: 80vh;
}
#page_style
{
  height: 80vh;
}
.ul_style
{
	padding:0vh 1vh!important;
}
.Selected >a
{
	font-size:15px!important;
	font-weight:bold;
	color:black;
}
#create_Subject
{
	font-size:15px!important;
	color:black!important;
}
.message
{
	color:Black!important;
	font-size:15px!important;
	margin:1em 0!important;
	padding:1em!important;
}